//OFFSET:
$linespacing: 50px;
$sidespace: 150px;
$sidespace_divider_sm: 2; // NOTE: max 1199px //
$sidespace_divider_xs: 5; // NOTE: max 991px //
$colmargin: 20px; // NOTE: section 1 and 2 //

//COLOR:
$primary_color: #fee7d1;
$secondary_color: #58402c;
$tertiary_color: #2c4792;

//NAVBAR:
$nav_height: 100px;
$header_height: 580px;

//FOOTER:
$minilogo_space: 80px;

//RESPONSIVENESS:
$site_min_width: 250px;